@tailwind base;
@tailwind components;
@tailwind utilities;

.background-grid {
  background-color: #f7f9fc;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.07) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 0, 0, 0.07) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* Ensure body takes full height */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
